In [6]:
import numpy as np
import os
import sys
import pandas as pd

In [4]:
!{sys.executable} -m pip install xlrd
!{sys.executable} -m pip install openpyxl

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.0.1)
Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)

# Get the current working directory

In [7]:
os.getcwd()

'/home/jovyan/demo'

# Read the excel file into a DF

In [8]:
file_name = "/home/jovyan/demo/20210724-SPX.xlsx"
sheet =  "20210724-SPX"
df = pd.read_excel(io=file_name, sheet_name=sheet)
df.head(5)

,Date,Open,High,Low,Close,Volume,EMA_9,SMA_20,SMA_50,SMA_200,PivotHighs,PivotLows,L-HPrds,H-LPrds,ATR,HisVol,HistVol_ExpMove
0,2018-07-23,2799.17,2808.61,2795.14,2806.98,0,2806.980000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-07-24,2820.68,2829.99,2811.12,2820.40,0,2809.664000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-25,2817.73,2848.03,2817.73,2846.07,0,2816.945200,NaN,NaN,NaN,2848.03,NaN,3.0,NaN,NaN,NaN,NaN
3,2018-07-26,2835.49,2845.57,2835.26,2837.44,0,2821.044160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-27,2842.35,2843.17,2808.34,2818.82,0,2820.599328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Count number of days from pivot low to pivot high

In [9]:
def periodCounter1(dframe,col1,col2):
    # col1 is pivot highs col and col2 is pivotlows col
    counterLH=1
    nPeriodLH=[]
    datelocLH=[]
    
    for i in range(len(dframe)-1):
        if np.isnan(dframe[col2][i])==True:
            counterLH+=1
            if np.isnan(dframe[col1][i+1])==False:
                nPeriodLH.append(counterLH)
                datelocLH.append(dframe['Date'][i+1])
                counterLH=1
    LHprd=pd.DataFrame({'Date':datelocLH,'L-HPrds':nPeriodLH})
    return LHprd

In [10]:
periodCounter1(df.head(50), col1='PivotHighs', col2='PivotLows')

        Date  L-HPrds
0 2018-07-25        3
1 2018-08-07        9
2 2018-08-29       16
3 2018-09-21       16

# Count number of days from pivot high to pivot low

In [11]:
def periodCounter2(dframe,col1,col2):
    # col1 is pivot highs col and col2 is pivotlows col
    counterHL=1
    nPeriodHL=[]
    datelocHL=[]
    for i in range(len(dframe)-1):
        if np.isnan(dframe[col1][i])==True:
            counterHL+=1
            if np.isnan(dframe[col2][i+1])==False:
                nPeriodHL.append(counterHL)
                datelocHL.append(dframe['Date'][i+1])
                counterHL=1
    
    HLprd=pd.DataFrame({'Date':datelocHL,'H-LPrds':nPeriodHL})
    return HLprd

In [12]:
periodCounter2(df.head(50), col1='PivotHighs', col2='PivotLows')

        Date  H-LPrds
0 2018-08-02        8
1 2018-08-15        9
2 2018-09-07       16

# New Function

In [13]:
def periodCounter3(dframe, pivot_high_col, pivot_low_col):
    for index, row in df.head(10).iterrows():
        if np.isnan(row[pivot_high_col]) == False:
            print (row[pivot_high_col], row[pivot_low_col])

In [14]:
periodCounter3(df,pivot_high_col='PivotHighs',pivot_low_col='PivotLows')

2848.03 nan